.comment{
    min-height: 90px;
    background-color: rgba(220,220,220, 0.5);
    border-radius: 5px;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.comment p{
    padding-left: 45px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 0;
}

.user{
    color: #ff4400;
    padding-left: 30px;
    font-weight: bold;
    align-self: flex-start;
    padding-top: 15px;
    margin: 0;
    padding-bottom: 5;
}

@media screen and (max-width: 500px){
    .comment p{
        padding-left: 28px;
        margin: 0;
        font-size: 0.8em;
    }
    
    .user{
        padding-left: 20px;
        font-size: 0.97em;

    }

    .comment{
        min-height: 70px;
    }
}