.search-container{
    display: flex;
    height: 50%;
    align-items: center;
}
.search-icon{
    margin-left: 10px;
    cursor: pointer;
    width: 33px;
    height: 31px;
}



.search-bar{
    width: 200px;
    height: 80%;
    border-radius: 7px;
    background-color: var(--bodyColor);
    box-shadow: 0px;
    border: var(--border);
    padding-left: 8px;
    color: var(--textColor)
}

button{
    width: 45px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

@media screen and (max-width: 800px){
    .search-bar{
        width: 170px;    
        justify-content: space-between;
    }

    .search-icon{
        width: 35px;
    }
}

@media screen and (max-width: 500px){
    .search-bar{
        width: 80px;
        height: 25px;    
        justify-content: space-between;
    }

    .search-icon{
        width: 25px;
        height: 23px
    }
}
