.category h4{
    margin: 10px 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--subredditColor);
    width: 50%;
    border-radius: 8px;
}

.category h4:hover{
    width: 51%;
}