.categories{
    width: 30%;
    box-shadow: var(--shadow);
    padding: 20px 40px;
    background-color: var(--elementColor);
    border-radius: 10px;

}

.categories h2{
    padding-bottom: 10px;
}

@media screen and (max-width: 1300px){
    .categories{
        display: none;
    }
}