.head{
    display: flex;
    justify-content: space-around;
    height: 80px;
    box-shadow: var(--shadow);
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: var(--elementColor);
}

.logo-div{
    display: flex;
    align-items: center;
    height: 80px;
}

.logo{
    height: 70%;
    margin: 0px 7px;
}

@media  screen and (max-width: 1300px) {
    .logo-div h1{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .head{
        height: 75px;    
        justify-content: space-between;
    }
    .logo{
        text-align: left;
    }
    .logo-div{
        display: flex;
        align-items: center;
        height: 75px;
        width: 21%;
    }

}

@media screen and (max-width: 500px){
    .head{
        height: 70px;    
        justify-content: space-between;
    }
    .logo{
        height: 65%;
        text-align: left;
    }
    .logo-div{
        height: 70px;
        width: 15%;
    }
}