.like-text{
    display: flex;
    align-items: center;
    text-align: left;
}

.post-container{
    width: 95%;
    box-shadow: var(--shadow);
    margin: 5px auto;
    text-align: center;
    background-color: var(--elementColor);
    border-radius: 10px;
    padding: 5px;
}

.comment-icon{
    width: 30px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: right;
}

.comment-icon:hover{
    width: 31px;

}

.right-align{
    text-align: right;
}

@media screen and (max-width: 500px){
    .comment-icon{
        margin-top: 3px;
        width: 25px;
    }

    .comment-icon:hover{
        width: 25px;
    
    }
}

@media screen and (min-width: 2000px){
    .post-container{
        padding: 30px;
        width: 91%;
    }
}