.vote{
    cursor: pointer;
    height: 35px;
    width: 30px;
    margin: 5px;
}

p{
    margin: 1px;
}

.like{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 500px){
    .vote{
        cursor: pointer;
        height: 22px;
        width: 20px;
        margin: 5px;
    }
    
    p{
        margin: 1px;
        font-size: 0.75em;
    }
    
    .like{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        padding: 5px;
    }
}